<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final_Project__Cafeteria_Management_System.Properties.Settings.FinalProject_CafeteriaManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-MUA28CG;Initial Catalog=FinalProject_CafeteriaManagementSystem;Persist Security Info=True;User ID=ADMIN;Password=p@55w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>